NODE_ENV=dev

# APPLICATIONS
API_PORT=
WS_PORT=

# MARIADB DB - DATA
MYSQL_HOST=
MYSQL_PORT=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# REDIS DB - SESSION
REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=

# SESSION
SESSION_MAX_AGE_IN_DAYS=
SESSION_SECRET=